<style type="text/css">
	* {
		font-family: poppins;
	}
	table {
		width:100%;
	}
	table, table td {
		padding:10px;
		border:1px solid black;
	}
</style>
<table align="center">
	<tr>
		<td row colspan="2">
			<h2 style="text-align:Center;padding-top: 20px">JOB DETAILS</h2>
		</td>
	</tr>
	<tr>
		<td>JOB TITLE: </td>
		<td>{{job.title}}</td>
	</tr>
	<tr>
		<td>JOB NATURAL: </td>
		<td>{{job.job_type}}</td>
	</tr>
	<tr>
		<td>LOCATION: </td>
		<td>NOT COMPLETED</td>
	</tr>
	<tr>
		<td>JOB DESCRIPTION: </td>
		<td>{{job.description}}</td>
	</tr>
	<tr>
		<td>JOB VACANCY: </td>
		<td>{{job.Vacancy}} Positions</td>
	</tr>
	<tr>
		<td>JOB EXPEREINCE: </td>
		<td>{{job.expereince}} Years</td>
	</tr>
	<tr>
		<td>SALARY: </td>
		<td>{{job.salary}}k</td>
	</tr>
	<tr>
		<td>CATEGORY: </td>
		<td>{{job.category}}</td>
	</tr>

</table>