<h1>Job List</h1>

<style type="text/css">
	* 
	{
		transition: all .3s ease-in-out;
	}
	h1 
	{
		font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;
		padding-bottom: 10px;
		margin-bottom: 30px;
		margin-top: 20px;
		border-bottom: 2px solid black;
	}
	p
	{
		font-family: Arial, Helvetica, sans-serif;
		color: #000;
		font-weight:bold;
		background-color: #f88;
		margin:10px 0px;
		padding:10px;
	} 
	p:hover
	{ 
		background-color: #f86;
	}
</style>

{% for job in jobs %}
	<p>{{job}}</p>
{% endfor %}